{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
      <div class="card shadow bg-white rounded border-dark mb-3">
        <div class="card-header border-dark mb-3">
        </div>
        <div class="card-body text-dark">
        <h5 class="card-title">Let's us make something awesome together.</h5>
        <p class="card-text">Have some feedback, drop us a mail <a href = "mailto: riasangwan1999@gmail.com" style="text-decoration: none; color: black;">here!</a></p>
        </div>
    </div>
{% endblock %}